<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="Guía 16 - Ejercicio 01" name="description" />
    <meta content="Silvia R. Otaka" name="author" />
    <title>Fragments</title>
    <!-- CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>


  <body>
    <!-- NAVBAR -->
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" th:href="@{/}"
          ><img src="../../img/logo.png" width="200" height="40"
        /></a>
        <a class="navbar-brand" th:href="@{/}">Inicio</a>
        <button
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-bs-target="#navbarSupportedContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-md-0 w-100">
            <!--DROPDOWN AUTORES-->
            <li class="nav-item dropdown">
              <a
                aria-expanded="false"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="dropdown-autores"
                role="button"
              >
                Autores
              </a>
              <ul
                aria-labelledby="dropdown-autores"
                class="dropdown-menu dropdown-menu-dark"
              >
                <li>
                  <a class="dropdown-item" th:href="@{/autores}"
                    >Mostrar todos</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/autores/crear}"
                    >Crear autor</a
                  >
                </li>
              </ul>
            </li>
            <!--DROPDOWN EDITORIALES-->
            <li class="nav-item dropdown">
              <a
                aria-expanded="false"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="dropdown-editoriales"
                role="button"
              >
                Editoriales
              </a>
              <ul
                aria-labelledby="dropdown-editoriales"
                class="dropdown-menu dropdown-menu-dark"
              >
                <li>
                  <a class="dropdown-item" th:href="@{/editoriales}"
                    >Mostrar todas</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/editoriales/crear}"
                    >Crear editorial</a
                  >
                </li>
              </ul>
            </li>
            <!--DROPDOWN LIBROS-->
            <li class="nav-item dropdown">
              <a
                aria-expanded="false"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="dropdown-libros"
                role="button"
              >
                Libros
              </a>
              <ul
                aria-labelledby="dropdown-libros"
                class="dropdown-menu dropdown-menu-dark"
              >
                <li>
                  <a class="dropdown-item" th:href="@{/libros}"
                    >Mostrar todos</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/libros/crear}"
                    >Crear libro</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END NAVBAR -->

    <!-- ERRORS -->
    <div th:fragment="div-error" th:if=${error!=null} class="alert alert-danger disable mt-4 col-xl-6" th:text="${error}"></div>
    <div th:fragment="div-exito" th:if=${exito!=null} class="alert alert-success disable mt-4 col-xl-6" th:text="${exito}"></div>
    <!-- END ERRORS -->

     <!-- FOOTER -->

     <footer th:fragment="footer">
      <div class="footer py-1 light bg-light fixed-bottom" >
        <div class="container" >
          <div class="copyright text-center">
            &copy; Copyright 2000-2021 |
            <strong><span>Sakura Corporation</span></strong
            > | All rights reserved <br />  
            <img
              src="../../img/logo.png"
              width="200"
              height="40"
            />
          </div>
        </div>
      </div>
      </footer>
      <!-- END FOOTER -->

  </body>
</html>
